table { 
	width: 1050px; 
	border-collapse: collapse; 
	margin:20px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #fff; 
	color: #418832; 
    text-align:center!important;
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 13px;
	}

